@page
@model WebAuthent.Pages.Atencion.Empleados.IndexModel

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].Usuario)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].IdMunicipioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatEmpleado[0].IdSedeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CatEmpleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdMunicipioNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSedeNavigation.Nombre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdEmpleado">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdEmpleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
