@page
@model WebAuthent.Pages.Atencion.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CatMunicipio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatMunicipio.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatMunicipio.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatMunicipio.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatMunicipio.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CatMunicipio.IdMunicipio">Edit</a> |
    <a asp-page="./AltaMunicipios">Back to List</a>
</div>
